*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto condensed' , sans-serif;
} /* initialisation du padding et margin pour bien controler la page */

body{
    height: 100%;
}
/* mettre la page à sa hauteur complete */
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between; /* mettre espace entre logo et les liens */
    align-items: center;
    position: sticky; /* si on déroule en bas la barre d'acceuil ne disparait pas */
    top: 0%;
    z-index: 999; /* pour toujours empiler la barre de menu en avant */
    background-color: rgb(34, 139, 26);
}

.navbar .logo .h1 {
    color: white;
    cursor: pointer; /* changer le curseur des que on arrive vers un lien  */
}

.navbar .menu li {
    list-style: none;
    display: inline-block; /* met les liens en ligne de bloc */
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.navbar .menu li .active { /* mettre une barre au dessus de l'acceuil */
    border-bottom: 4px solid #f63e4e;
}

.navbar .menu li .a:hover { /* dés qu'on a cliquez sur un lien une barre apparait au dessous */
    border-bottom: 4px solid #f63e4e;
}

.contenu {
    background-image: url(image/voiture_acceuil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* pour controler l'alignement du button ajoutée */
    color: white;
    font-weight: bold;
    height: 100vh;
}

.contenu h1 {
    font-size: 40px;
}

.contenu p {
    font-size: 20px;
    margin-top: 20px;
}

.contenu button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none; /* pour enlever bordure dans button */
    background-color: #f63e4e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.imageposition {
    position: absolute;
    left: 800px;
}

.produits{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 80px;
    color: #424144;

}