*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto condensed' , sans-serif;
} /* initialisation du padding et margin pour bien controler la page */

body{
    height: 100%;
}
/* mettre la page à sa hauteur complete */
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between; /* mettre espace entre logo et les liens */
    align-items: center;
    position: sticky; /* si on déroule en bas la barre d'acceuil ne disparait pas */
    top: 0%;
    z-index: 999; /* pour toujours empiler la barre de menu en avant */
    background-color: rgb(34, 139, 26);
}

.navbar .logo .h1 {
    color: white;
    cursor: pointer; /* changer le curseur des que on arrive vers un lien  */
}

.navbar .menu li {
    list-style: none;
    display: inline-block; /* met les liens en ligne de bloc */
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.navbar .menu li .active { /* mettre une barre au dessus de l'acceuil */
    border-bottom: 4px solid #f63e4e;
}

.navbar .menu li .a:hover { /* dés qu'on a cliquez sur un lien une barre apparait au dessous */
    border-bottom: 4px solid #f63e4e;
}

.contenu {
    background-image: url(image/voiture_acceuil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* pour controler l'alignement du button ajoutée */
    color: white;
    font-weight: bold;
    height: 100vh;
}

.contenu h1 {
    font-size: 40px;
}

.contenu p {
    font-size: 20px;
    margin-top: 20px;
}

.contenu button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none; /* pour enlever bordure dans button */
    background-color: #f63e4e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.imageposition {
    position: absolute;
    left: 800px;
}

.produits_titre{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 80px;
    color: #424144;
}

.section_produits{
    padding: 40px 5%;
}

.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* met le produit en toute sorte de tableau dynamique avec les élements */
}

.produits .fiche_produit {
    width: 310px;
    background: #f5f5f5;
    bottom: 0 10px 20px rgba(0, 0, 0, 0.3); /*se situe vers le bas */
    border-radius: 10px;
    border-bottom: 20px;
}

.produits .fiche_produit img {
    height: 200px;
    font-weight: 100%;
}

.produits .fiche_produit .marque {
    padding: 5px 20px;
    opacity: 0.8;
}

.produits .fiche_produit .modele {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.produits .fiche_produit .contenu_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.produits .fiche_produit .prix{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}

.produits .fiche_produit .modification {
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 10px 18px;
    border-radius: 1px solid #f63e4e;
}

.produits .fiche_produit .contenu_2 .modification {
    cursor: pointer;
    background: black;
    color: white;
}